.breadcrumb{
    margin-bottom: 2rem;
}


.breadcrumb-content{
    display: flex;
    background-color: #f0f2f7;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}


.breadcrumb__home-content-icon{
    display: flex;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    margin-right: 20px;
}


.breadcrumb__home-icon{
   font-size: 1.8rem;
   color: #909aa7;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.breadcrumb__icon{
    margin: 10px;
}

.breadcrumb__list{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}


.breadcrumb__link{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    color: #7f8187;
   
}


.breadcrumb__link:hover{
    color: #7f8187;
}