@import './variables.css';
@import './top-bar.css';
@import './navbar.css';
@import './defult.css';
@import './footer.css';
@import './course-box.css';
@import './helper.css';
@import './breadcrumb.css';
@import './sidebarcourse.css';





.courses-info{
    position:sticky;
    top: 2rem;
}

.course-info{
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 10px rgba(70, 72, 77, 0.08);
    border: 1px solid #f2f2f2;

}




.course-info__topic-title{
    display: block;
    color: var(--dark-color);
    font-size: 1.8rem;
}


.course-info__topic-text{
    font-size: 1.5rem;
    color: #7d7e7d;
}


.course-info__course-title{
    font-size: 1.8rem;
    display: block;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}






.course-info__course-list-item{
    margin-bottom: 2rem;
}



.courses-info__courses-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}


.course-info__courses-img{
    width: 70px;
    border-radius: 0.5rem;
}


.course-info__courses-text{
    font-size: 1.4rem;
    margin-right: 0.5rem;
    color: #8d8d8d;
}